html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.header-container {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tit-menu {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.menu {
    width: 1100px;
    color: #e5e7eb;
    font-size: 24px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 100px;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;
}

#tit-header {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.main-text {
    margin-bottom: 100px;
}

.main-header {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 100px;
}

#sec-text {
    font-size: 18px;
    color: #e5e7eb;
    flex-grow: 0;
    width: 500px;
}

.signup {
    background-color: skyblue;
    color: #f9faf8;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px;
}

.items {
    display: flex;
    justify-content: space-evenly;
    width: 900px;

}

#tit-main {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 32px;
    padding-bottom: 48px;
}

.item-main {
    width: 150px;
    height: 150px;
    border: 2px solid skyblue;
    border-radius: 12.5px;
}

.txt-main {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 50px;
}

.quote {
    height: 600px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.small-cont {
    width: 800px;
    justify-content: end;
}

.phrase {
    font-family: light italic;
    font-size: 36px;
    color: #1f2937;
    padding: 16px;
}

.author {
    font-size: 24px;
    text-align: right;
}

.alert {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-container {
    background-color: #6CB4EE;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-text {
    color: #f9faf8;
}

.tit-alert {
    font-size: 24px;
    font-weight: bold;
}