html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.header-container {
    background-color: #1f2937;
}

.menu {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 8px;
    margin-bottom: 100px;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;
}
#tit-main   {
    font-size: 48px;
    color: #f9faf8;
}